@import './base.css';

.space {
  margin-top: 24px;
  margin-bottom: 24px;
}

.px-1 {
  padding: var(--px-1);
}

.title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 24px;
}

.justify-content-end {
  justify-content: end;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
    margin: auto;
  }

  .space {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .title {
    font-size: 2.4rem;
  }
}
