.product__container {
  width: 200px;
}

.link__product {
  display: block;
}

.details__product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.details__product .title__details {
  height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Quantidade de linhas que irá ser mostrado no parágrafo */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.details__product .title__details,
.details__product .price__details {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color-primary);
  text-align: start;
  }