/* https://codepen.io/nzbin/pen/GGrXbp */

.snippet {
  display: flex;
  justify-content: center;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--text-color-primary);
  color: var(--text-color-primary);
  box-shadow: 9999px 0 0 -5px var(--text-color-primary);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--text-color-primary);
  color: var(--text-color-primary);
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px var(--text-color-primary);
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px var(--text-color-primary);
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px var(--text-color-primary);
  }
  30% {
    box-shadow: 9984px 0 0 2px var(--text-color-primary);
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px var(--text-color-primary);
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px var(--text-color-primary);
  }
  30% {
    box-shadow: 9999px 0 0 2px var(--text-color-primary);
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px var(--text-color-primary);
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px var(--text-color-primary);
  }
  30% {
    box-shadow: 10014px 0 0 2px var(--text-color-primary);
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px var(--text-color-primary);
  }
}
