  #banner a img {
    background-image: url(../../assets/imgs/banners/banner-full-mobile.jpg);
    min-height: 620px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  @media (min-width:768px) {

    #banner a img {
        background-image: url(../../assets/imgs/banners/banner-full-desktop.jpg);
        min-height: 665px;
    }
  }