.products__menu-list {
    display: grid;
    grid-template-columns: 12fr;
}

@media (min-width:768px) {
    .products__menu-list {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        column-gap: 24px;
    }
}