#products {
  animation: up 1s ease-out;
}

.products__menu-list li {
  border: 1px solid gray;
}

/* Elemento que o IntersectionObserver observa */
#ward {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  /* Os produtos irão ser apresentados de 3 em 3 na tela */
  .products__menu-list {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 24px;
    animation: up 1s ease-out;
  }
}

@media (min-width: 1200px) {
  /* Os produtos irão ser apresentados de 4 em 4 na tela */
  .products__menu-list {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    column-gap: 24px;
  }
}
